/__pycache__/celestial_coords.cpython-39.pyc
/__pycache__/celestial_coords.cpython-311.pyc
/cel_coor_tran_system.spec

/build/AstroConverter/Analysis-00.toc
/build/AstroConverter/AstroConverter.exe
/build/AstroConverter/AstroConverter.pkg
/build/AstroConverter/base_library.zip
/build/AstroConverter/PKG-00.toc
/build/AstroConverter/PYZ-00.pyz
/build/AstroConverter/PYZ-00.toc
/build/AstroConverter/warn-AstroConverter.txt
/build/AstroConverter/xref-AstroConverter.html
/build/AstroConverter/localpycs/pyimod01_archive.pyc
/build/AstroConverter/localpycs/pyimod02_importers.pyc
/build/AstroConverter/localpycs/pyimod03_ctypes.pyc
/build/AstroConverter/localpycs/pyimod04_pywin32.pyc
/build/AstroConverter/localpycs/struct.pyc
/build/cel_coor_tran_system/Analysis-00.toc
/build/cel_coor_tran_system/base_library.zip
/build/cel_coor_tran_system/cel_coor_tran_system.exe
/build/cel_coor_tran_system/cel_coor_tran_system.pkg
/build/cel_coor_tran_system/COLLECT-00.toc
/build/cel_coor_tran_system/EXE-00.toc
/build/cel_coor_tran_system/PKG-00.toc
/build/cel_coor_tran_system/PYZ-00.pyz
/build/cel_coor_tran_system/PYZ-00.toc
/build/cel_coor_tran_system/warn-cel_coor_tran_system.txt
/build/cel_coor_tran_system/xref-cel_coor_tran_system.html
/build/cel_coor_tran_system/localpycs/pyimod01_archive.pyc
/build/cel_coor_tran_system/localpycs/pyimod02_importers.pyc
/build/cel_coor_tran_system/localpycs/pyimod03_ctypes.pyc
/build/cel_coor_tran_system/localpycs/pyimod04_pywin32.pyc
/build/cel_coor_tran_system/localpycs/struct.pyc
/build/frame/Analysis-00.toc
/build/frame/base_library.zip
/build/frame/EXE-00.toc
/build/frame/frame.pkg
/build/frame/PKG-00.toc
/build/frame/PYZ-00.pyz
/build/frame/PYZ-00.toc
/build/frame/warn-frame.txt
/build/frame/xref-frame.html
/build/frame/localpycs/pyimod01_archive.pyc
/build/frame/localpycs/pyimod02_importers.pyc
/build/frame/localpycs/pyimod03_ctypes.pyc
/build/frame/localpycs/pyimod04_pywin32.pyc
/build/frame/localpycs/struct.pyc

/__pycache__/celestial_widget.cpython-39.pyc
/__pycache__/main_window.cpython-39.pyc
/__pycache__/styles.cpython-39.pyc

/frame.py


dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_ar.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_bg.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_ca.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_cs.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_da.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_de.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_en.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_es.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_fa.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_fi.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_fr.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_gd.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_gl.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_he.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_ar.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_bg.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_ca.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_cs.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_da.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_de.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_en.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_es.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_fr.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_gl.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_hu.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_it.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_ja.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_ko.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_pl.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_ru.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_sk.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_sl.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_tr.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_uk.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_zh_CN.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_help_zh_TW.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_hu.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_it.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_ja.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_ko.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_lt.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_lv.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_pl.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_pt.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_ru.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_sk.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_sl.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_sv.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_tr.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_uk.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_zh_CN.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qt_zh_TW.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_ar.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_bg.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_ca.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_cs.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_da.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_de.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_en.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_es.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_fi.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_fr.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_gd.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_he.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_hu.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_it.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_ja.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_ko.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_lv.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_pl.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_ru.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_sk.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_tr.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_uk.qm
dist/cel_coor_tran_system/_internal/PyQt5/Qt5/translations/qtbase_zh_TW.qm
dist/cel_coor_tran_system/_internal/PyQt5/QtCore.pyd
dist/cel_coor_tran_system/_internal/PyQt5/QtGui.pyd
dist/cel_coor_tran_system/_internal/PyQt5/QtWidgets.pyd
dist/cel_coor_tran_system/_internal/PyQt5/sip.cp39-win_amd64.pyd
dist/cel_coor_tran_system/_internal/_bz2.pyd
dist/cel_coor_tran_system/_internal/_decimal.pyd
dist/cel_coor_tran_system/_internal/_hashlib.pyd
dist/cel_coor_tran_system/_internal/_lzma.pyd
dist/cel_coor_tran_system/_internal/_socket.pyd
